body,html{
	direction:rtl;
	unicode-bidi:embed;	
}

caption, th, td {
	text-align: right;
}

#page-content,
.content,
#full-width-slider .content .wrapper,
footer .wrapper,
.footer-widgets{
	text-align: right;				
}

footer .copyright {
	float: right;
}

#footer-icons {
    float: left;
	text-align: left;
}

footer .wrapper .footer-left {
    float: right;
}

footer .wrapper .logo {
    float: right;
	margin-right: 0px;
	margin-left: 30px;
}

.blog-small .post-thumb {
	float: right;
	margin-right: 0px;
	margin-left: 30px;
}

.blog-small .post-date {
    float: right;
	margin-right: 0px;
	margin-left: 20px;
	direction: ltr;
}

.blog-large .post-date,
body.single .post-date,
.blog-full .post-date {
    float: right;
	margin-left: 30px;
	margin-right: 0px;
	direction: ltr;
}


#page_control{
	direction: ltr;
}

.widget_post_list img {
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}


.widget_categories ul li a:before, .widget_archive ul li a:before, .widget_meta ul li a:before, .blogroll li a:before, .widget_pages li a:before, .widget_recent_entries ul li a:before, .widget_nav_menu li a:before, .tp_widget_tags_cats li a:before {
	content: '';
	padding: 0px;
}

.widget_categories ul li a:after, .widget_archive ul li a:after, .widget_meta ul li a:after, .blogroll li a:after, .widget_pages li a:after, .widget_recent_entries ul li a:after, .widget_nav_menu li a:after, .tp_widget_tags_cats li a:after {	
	content: '\f104';	
	
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #777777;
	padding-left: 10px;
}

.widget-area .tp_widget_contact_info li i {
	padding-left: 10px;
	padding-right: 0px;

}

.author .avatar {
	float: right;
	margin-left: 30px;
	margin-right: 0px;
}	

#page-content .commentlist .avatar {
	float: right;
	margin-left: 20px;
	margin-right: 0px;
}

.content ul.arrow li:before {
	content: '';
	margin: 0px;
}

.content ul.arrow li:after{
	font-family: 'FontAwesome';
	content: '\f104';
	vertical-align: middle;
	margin-left: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #444;
}

.content ul.arrow li ul{
	padding-left: 0px;
	padding-right: 14px;
}



.content ul.circle li:before {
	margin: 0px;
	content: '';
}

.content ul.circle li:after{
	font-family: 'FontAwesome';
	content: '\f111';
	vertical-align: middle;
	margin-left: 7px;
	font-size: 5px;
	font-weight: bold;
	color: #444;
}

.content ul.circle li ul{
	padding-left: 0px;
	padding-right: 14px;
}

.content .wpcf7-form label, .content .wpcf7-quiz-label {
	float: right;
	margin-right: 0px;
	margin-left: 30px;
}